{% extends "juice/templates/index.html" %}

{% block hero %}
<section style="padding:10px">
    <h1 class="text-center heading-text">
        Secure, fast, and reproducible builds
    </h1>
</section>
<div style="width: 100%">
    <script src="https://asciinema.org/a/Rp2CFEMqrVT9qhPYGiGODWhe4.js" id="asciicast-Rp2CFEMqrVT9qhPYGiGODWhe4" async></script>
</div>

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>
{% endblock hero %}

{% block footer %}
    <footer>
        <small class="subtext">
            (C) Daniel Pfrommer, Alexander Kassouni
        </small>
    </footer>
{% endblock footer %}