{% extends "juice/templates/index.html" %}

{% block hero %}
<section style="padding:10px">
    <h1 class="text-center heading-text">
        Secure, fast, and reproducible builds
    </h1>
    <h3 class="text" style="text-align: center;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas pharetra rhoncus. Sed sit amet iaculis ligula, eu convallis elit. Nullam convallis urna tortor, vitae faucibus felis tempor eu.
    </h3>
</section>
<div style="width: 100%">
    <script src="https://asciinema.org/a/Rp2CFEMqrVT9qhPYGiGODWhe4.js" id="asciicast-Rp2CFEMqrVT9qhPYGiGODWhe4" async></script>
</div>

<div class="explore-more text"
    onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>
{% endblock hero %}

{% block footer %}
    <footer>
        <small class="subtext">
            University of Pennsylvania, Senior Design 2022
        </small>
    </footer>
{% endblock footer %}